body {
    min-height: 100%;
    
}

input {
    line-height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
}


#CNPEWrapper{
    
    float:right;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
    margin-right:37%;
    margin-top:15px;
    display:flex;
    flex-direction: column;
}

.ONCInput1{
    margin-top: 20px;
}

.container {
    margin-bottom: 40px;
}

main {
    margin: 0;
    height:800px;
    padding: .5em 2em .25em;
}

.center {
    float: center;
    width: 90%;
}

table, th, td {
    text-align: center;
    border: 1.5px solid #323232;
}

th {
    font-size: 18px;
    font-weight: lighter;
    color: white;
    background-color: #4290E8;
}

.DetailsButton {
    text-align: center;
}

.DetailsButton th {
    background-color: #4290E8;
}

#button-wrapper6 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-right:1%;
}
#button-wrapper2 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    float:right;
    margin-right:33%;
    margin-bottom: 15px;
}

#label-wrapper {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    border: 1.5px solid #323232;
    width: 90%;
    float:right;
    margin-right:50px;
}

#button-wrapper3{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    float:right;
    margin-right:33%;
}

.CollectButton{
    width:585px;

}

.ColllectEvidence-Container{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    flex-direction: column;
}

.Identifier{
    margin-bottom: 15px;
}

.Description{
    margin-bottom: 15px;
}

.Disposition{
    margin-bottom: 15px;
}