#EditEvidence-button-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-right:1%;
}

.EPELabelContainer{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    flex-direction: column;
}

.EPEIdentifier{
    margin-bottom: 15px;
    margin-right:15px;
}

.EPEDescription{
    margin-bottom: 15px;
}

.EPEDisposition{
    margin-bottom: 15px;
}

.EPECollector{
    margin-bottom: 15px;
    margin-right: 105px;
}